body{
  background-color: #f7f7f7;
  min-height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
}

.jumbotron {
  background-color: white;
}

.cover {
  object-fit: cover;
  /* width: 50px; */
  height: 100px;
}

.cursor-pointer{
  cursor: pointer;
}

.too-small {
  display: none;
}

.li-hover:hover {
  background-color: #e6e6e6;
}

/* Screen too small alert */
@media only screen and (max-width: 1000px) {
  .too-small {
    display: block;
  }
}

/* Check icon animation */
.fa-flip-diagonal {
	animation: rotate-diagonal-1 0.5s linear 1.5s both;
}
@keyframes rotate-diagonal-1 {
  0% {
    transform: rotate3d(1, 1, 0, 0deg);
  }
  50% {
    transform: rotate3d(1, 1, 0, -180deg);
  }
  100% {
    transform: rotate3d(1, 1, 0, -360deg);
  }
}

/* System tour button animation */
.fa-pulsate {
	animation: heartbeat 1.5s ease-in-out 2s infinite both;
}
@keyframes heartbeat {
  from {
    transform: scale(1);
    transform-origin: center center;
    animation-timing-function: ease-out;
  }
  10% {
    transform: scale(0.91);
    animation-timing-function: ease-in;
  }
  17% {
    transform: scale(0.98);
    animation-timing-function: ease-out;
  }
  33% {
    transform: scale(0.87);
    animation-timing-function: ease-in;
  }
  45% {
    transform: scale(1);
    animation-timing-function: ease-out;
  }
}

.fa-vibrate2x {
	animation: vibrate-1 0.3s linear 2 both;
}
@keyframes vibrate-1 {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-2px, 2px);
  }
  40% {
    transform: translate(-2px, -2px);
  }
  60% {
    transform: translate(2px, 2px);
  }
  80% {
    transform: translate(2px, -2px);
  }
  100% {
    transform: translate(0);
  }
}
