/* .carousel-control-prev,
.carousel-control-next {
  filter: invert(100%);
  background-position-x: 75%;
} */

.below {
  position: relative;
}

textarea.form-control {
  resize: none;
  height: 70%;
}

body{
  height: 100vh;
  overflow: hidden;
}

.under-navbar-noscroll{
  height: calc(100% - 58px); /* navbar is 58px static */
  width: 100%;
}
