@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* .app-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: visible;
  background-color: #0097a7;
  box-shadow: 0 0 4px rgba(0,0,0,.14),0 4px 8px rgba(0,0,0,.28);
  margin: 10px;
} */

.main {
  position: absolute;
  top: 8px;
  bottom: 38%;
  width: 98%;
}

.blockly-panel {
  left: 8px;
  right: 198px;
  box-shadow: 0 1px 4px rgba(0,0,0,.37);
}

.output-panel {
  top: 63%;
  /* right: 8px; */
  width: 59%;
  height: 36%; /*I added this*/
  background-color: white;
  overflow: auto;
  padding: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,.37);
}
.output {
  top: 63%;
  right: 8px;
  width: 38%;
  height: 36%; /*I added this*/
  background-color: white;
  overflow: auto;
  padding: 8px;
  box-shadow: 0 1px 4px rgba(0,0,0,.37);
}

.dropdown-bar {
  display: block;
  font-family: sans-serif;
  font-size: 16px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
}

#languageDropdown {
  border: 0;
  background-color: transparent;
  font-size: 16px;
  outline: none;
}

#im-just-an-underline {
  border-bottom: 1px solid;
  display: inline;
  padding-right: 5px;
}

.POps {
  height: 1px;
  border: 0;
  background-color: rgba(0,0,0,.2);
}

.play-button {
  position: absolute;
  bottom: 24px;
  right: 24px;
  border-radius: 100%;
  color: white;
  width: 56px;
  height: 56px;
  line-height: 56px;
  box-shadow: 0 1px 4px rgba(0,0,0,.37);
  transition: box-shadow .3s ease-in-out;
  text-align: center;
  font-weight: 500;
  background-color: #0097A7;
  cursor: pointer;
}

.play-button:hover {
  box-shadow: 0 2px 2px rgba(0,0,0,.2),0 6px 10px rgba(0,0,0,.3);
  transition: box-shadow .3s ease-in-out;
}

.but-not-that-pretty {
  border: 0 !important;
  margin: 0 !important;
  padding: 0 !important;
}

.embed-responsive-16by9{
  height: 90vh;
  width: 100%;
}
.no-scroll{
  overflow: hidden;
}
